.item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 270px;
  height: 270px;
  border: 1px solid black;
  padding: 0 25px;

  img {
    max-height: 60px;
    max-width: 160px;
  }
  h4 {
    padding-top: 20px;
    font-size: 14px;
    line-height: 21px;
  }
  p {
    padding-top: 15px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }
}