@media (max-width: 1439px) {
  .container {
    width: 1180px;
    padding: 0 20px;
  }
  .skills__range {
    .title {
      font-size: 14px;
    }
  }
  .skills__grid {
    width: 92%;

    .item {
      width: 251px;
      height: 251px;
    }
  }
  .about__wrapper {
    grid-template-columns: 338px 670px;
    grid-column-gap: 23px;
  }
  .contacts__wrapper {
    grid-template-columns: 436px 474px;
    padding: 100px 0 100px 20px;
  }
  .contacts__form {
    grid-template: 45px 190px 45px/repeat(2,230px);
  }
  .contacts__wrapper {
    grid-template-columns: 471px 545px;
    padding: 100px 0 100px 73px;
  }
}

@media (max-width: 1200px) {
  .sidepanel {
    display: none;
  }
  .container {
    width: 970px;
    overflow: hidden;
  }
  .title {
    font-size: 36px;
    line-height: 40px;
  }

  .section-title_top {
    line-height: 38px;
    &:before {
      top: 0;
    }
  }
  .about {
    &__wrapper {
      padding: 40px 0;
      grid-template-columns: 300px 640px;
      grid-template-rows: minmax(245px, auto) minmax(255px, auto);
      grid-column-gap: 30px;
    }

    &__describe {
      width: 608px;
      p {
        font-size: 14px;
      }
    }
    .title_fs14 {
      font-size: 14px;
    }
  }
  .experience {
    .table__col {
      width: 430px;
    }

    .tab-element p {
      width: 350px;
    }
  }
  .skills__grid {
    width: 100%;

    .item {
      padding: 40px 10px;
      width: 250px;
    }
  }
  .skills__grid {
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
  }
  .item-range {
    width: 265px;
    .title {
      margin-top: -6px;
    }
  }
  .promo__subtitle:before {
    top: 0;
  }
  .portfolio__table {
    grid-template-columns: repeat(3,280px);
    grid-template-rows: repeat(2,280px);
    grid-auto-rows: 280px;
    justify-content: center;
    a {
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .mac {
      background: url("../../img/works/mac_min.jpg");
    }
    .plans {
      background: url("../../img/works/plans-min.jpg");
    }
  }
  .portfolio__plans {
    grid-column: auto;
    grid-row: auto;
  }
  .portfolio__mac {
    grid-column: auto;
    grid-row: auto;
  }
  .contacts__wrapper {
    grid-template-columns: 365px 481px;
    padding: 100px 0 100px 1px;
  }
}

@media (max-width: 992px) {
    h2 {
      margin-top: 10px;
    }
    .container {
      width: 714px;
      overflow: hidden;
    }
    .title-second h2 {
      font-size: 24px;
    }
    .promo__subtitle {
      margin-top: 10px
    }
    .promo {
      background: url('../img/main_bg.jpg') no-repeat 55%/cover;
    }
    .promo__subtitle {
      font-size: 28px;
    }
    .about {
      .size {
        font-size: 14px;
        padding-top: 8px;
      }
      &__wrapper {
        grid-template-columns: 230px 464px;
        grid-column-gap: 20px;
      }
      &__img {
        img {
          width: 220px;
          height: 100%;
        }
      }
      &__skills {
        grid-template-columns: 1fr;
      }
      .text {
        width: 464px;
      }
      &__skills-circle {
        top: 23px;
      }
      &__skills-item {
        grid-template-columns: 40px 373px;
      }
    }
    .experience {
      overflow: hidden;
      .table {
        margin-left: 10px;
        &__col {
          width: 370px;
        }
      }
      .tab-element p {
        width: 286px;
      }
    }
    .skills__grid {
      grid-template-columns: repeat(3, 1fr);
      .item {
        padding: 40px 10px;
        width: 218px;
      }
    }
    .section-title_big {
      font-size: 24px;
      line-height: 32px;
    }
    .skills__range {
      padding-top: 50px;
      grid-template: repeat(3,1fr)/repeat(2,1fr);
    }
    .portfolio__table {
      grid-template-columns: repeat(3, 220px);
      grid-template-rows: repeat(2, 220px);
    }
    .price__table {
      justify-content: center;
    }
    .price__item {
      padding-left: 24px;
      grid-template-columns: 208px 117px;
      &:before {
        left: 3px;
      }
    }
  .contacts{
    &__wrapper {
        grid-template-columns: 317px 356px;
      }
    &__col-img {
      margin-left: -20px;
      img {
        object-fit: cover;
        width: 300px;
        height: 100%;
      }
    }
    &__form {
      grid-template: 45px 191px 45px/repeat(2,172px);
    }
    &__btn {
      padding: 12px 8px;
      font-size: 13px;
    }
  }
}

@media (max-width: 768px) {
    .container {
      width: 530px;
    }
    .title {
      display: block;
      font-size: 34px;
      line-height: 38px;
    }
    .promo__title {
      width: 343px;
    }
    .promo__subtitle {
      font-size: 24px;
      margin-top: 10px
    }
    .about {
      &__wrapper {
        grid-template: 340px auto auto / 577px;
        overflow: initial;
      }
      &__img img {
        position: relative;
        width: 300px;
        height: 340px;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 20px;
      }
      &__describe {
        width: auto;
      }
      &__skills {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 270px);
        row-gap: 10px;
        min-height: 100px;
        padding-left: 10px;
        &-item {
          grid-template-columns: 43px 178px;
          grid-column-gap: 11px;
        }
      }
      .text {
        width: 534px;
      }
    }
    .experience {
      .table {
        grid-template-columns: 1fr;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-left: 50px;
        padding-top: 0;
        &__col {
          padding-top: 30px;
        }
      }
    }
    .skills__grid {
      grid-template-columns: repeat(2,1fr);
    }
    .item-range {
      width: 100%;
    }
    .portfolio {
      padding-top: 70px;
      &__table {
        margin-top: 30px;
        grid-template-columns: repeat(3,160px);
        grid-template-rows: repeat(2,160px);
      }
    }
    .price__table {
      margin-top: -20px;
      grid-template-columns: repeat(1, 400px);
    }
  .contacts{
    &__col-img {
      display: none;
    }
    &__wrapper {
      padding: 50px 0 43px 0;
      display: block;
    }
    &__form {
      grid-template: 45px 191px 45px/repeat(2,230px);
    }
    &__btn {
      padding: 11px 20px;
      font-size: 12px;
    }
  }
}

@media (max-width: 576px) {
    .container {
      width: 300px;
    }
    .promo {
      padding-top: 125px;
      background: url('../img/main_bg.jpg') no-repeat 55%/cover;
    }
    .promo__subtitle {
      font-size: 16px;
    }
    .promo__title {
      font-size: 26px;
      line-height: 39px;
      width: 261px;
    }
    .hamburger {
      right: 20px;
    }
    .about {
      &__wrapper {
        grid-template: 340px auto auto / 320px;
        overflow: hidden;
        padding-left: 0;
      }

      &__img {
        margin-left: -20px;
      }

      &__skills {
        grid-template: repeat(3,1fr)/repeat(1,300px);
        justify-items: center;
      }

      .text {
        padding-right: 20px;
        width: auto;
      }

      &__skills-item {
        grid-template-columns: 43px 230px;
      }
    }
    .title-second {
      margin-right: 30px;
    }

    .experience {
      .table {
        margin-left: -10px;

        &__col {
          width: 260px;
        }

        .tab-element p {
          width: 220px;
          margin-top: 0;
        }
      }
    }

    .skills {
      margin-top: 50px;

      &__grid {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;

        .item img, h4 {
          position: relative;
          transform: translateX(-50%);
          left: 50%;
        }
      }

      .skills__range {
        grid-template: repeat(3,1fr)/repeat(1,1fr);
      }
    }
    .portfolio__table {
      grid-template-columns: repeat(2, 148px);
      grid-template-rows: repeat(3, 148px);

      img {
        height: 100%;
      }
    }
    .price__table {
      grid-template-columns: repeat(1,310px);

      h4, div{
        font-size: 13px;
      }
      p {
        font-size: 10px;
      }
      &__item {
        grid-template-columns: 182px 117px;
      }
      .price__item:before {
        width: 9px;
        height: 9px;
      }
      .price__item {
        padding-left: 15px;
        grid-template-columns: 183px 115px;
      }

    }
    .price__column {
      padding-left: 2px;
    }
  .contacts {
    &__wrepper {
      margin-left: -20px;
    }
    &__form {
      grid-template: 45px 45px 191px / 103%;
    }
    &__input_email {
      grid-column: 1 / 2;
    }
    .title-second {
      h1 {
        font-size: 16px;
        line-height: 24px;
        padding-top: 7px;
      }
      h2 {
        padding: 10px 0 5px 0;
        font-size: 23px;
        line-height: 36px;
      }
    }
    &__input-area textarea {
      width: 90%;
    }
    &__btn {
      position: relative;
      transform: translateX(-50%);
      left: 50%;
    }
  }
  .skills__grid .item {
    padding: 40px 8px;
  }
  .title-second h2 {
    font-size: 20px;
  }
  .about .text {
    width: 75%;
  }
}

@media (max-width: 390px) {
    .promo {
      padding-top: 280px;
      background: url('../img/main_bg.jpg') no-repeat 58%/cover;
    }
  }

@media (max-width: 320px) {
    .promo {
      padding-top: 150px;
    }
  }
