.skills {
  margin-top: 120px;
  &__grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 13px;
    grid-auto-rows: auto;
  }
}